{% extends 'base/base.html' %} {% block body %}



<div style="padding-top:50px ;"></div>

<h1 class="text-center mt-5 mb-4 display-3">Resetss Password</h1>

<form action="" method="POST" class="d-flex flex-column align-items-center">
    {% csrf_token %} 
    {% comment %} {{form.as_p}} {% endcomment %}
    <div class="mb-3 w-50">
    <label for="id_email" class="form-label">Username</label>
    <input type="text" name="email"  required autocomplete="email" id="id_email" class="form-control mt-2 button--outline--primary">
  </div>
    <button class="btn btn-outline-dark mt-3 button-primary-orangered">Send Email</button>
</form>

<style>
    .button-primary-orangered{
        padding: 6px 30px;
        {% comment %} border: 1px solid orangered; {% endcomment %}
        {% comment %} color: orangered; {% endcomment %}
    }
    .button-primary-orangered:hover{
        background-color:  orangered;
        color: #212529;
        border: 1px solid orangered;
    }
    .button--outline--primary{
        {% comment %} border: 1px solid orangered; {% endcomment %}
        background-color: #fff;
    }
    .button--outline--primary:focus{
        outline: none;
        border: 1px solid orangered;
        box-shadow: none;
        background-color: #fff!important;
    }
</style>

{% endblock body %}