{% extends 'base/base.html' %} {% block body %}

<h1 class="text-center mt-5 mb-4 display-3">Change Password</h1>

<form action="" method="POST" class="d-flex flex-column align-items-center">
    {% csrf_token %} 
    <div class="mb-3 w-50 mt-3">
        <label for="id_old_password" class="form-label">Old Password</label>
        <input type="password" name="old_password" autocomplete="current-password"  required id="id_old_password" class="form-control button--outline--primary">
    </div>
    <div class="mb-3 w-50">
        <label for="id_new_password1" class="form-label">New Password</label>
        <input type="password" name="new_password1" autocomplete="new-password"s  required id="id_new_password1" class="form-control button--outline--primary">
    </div>
    <div class="mb-3 w-50">
        <label for="id_new_password2" class="form-label">New Password</label>
        <input type="password" name="new_password2" autocomplete="new-password"s  required id="id_new_password2" class="form-control button--outline--primary">
    </div>
    <button type="submit" class="btn btn-outline-dark mt-3">Change Password</button>
</form>

{% endblock body %}