{% extends 'base/base.html' %} {% block body %}
{% load static %}
{% load url_replace %}

<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function() {
        myInput.focus()
    })
</script>


<div class="container">
    <div class="row d-flex justify-content-center align-items-center mb-5 mt-2" style="">
        <div class="col-md-6">
            <div class="mb-3" style="position: relative">
                <h1 class="display-4 text-center" id="headerhome">Article</h1>
                <p class="" style="font-size:15px;color:red; outline:none; border:none; font-weight:300; position:absolute; top:90%; right:30%" id="searchsmall">Article/Profile</p>
            </div>
            <form action="{% url 'article:article' %}" method="GET" class="d-flex" id="homeSearchForm">
                <input type="text" name="search" id="search" class="form-control button--outline--primary">
                <button type="submit" class="btn button-primary-orangered">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="container" style="min-height: 100vh">
    {% if articles %}
    <div class="list-group">
        {% for article in articles %}
        <a type="button" data-bs-toggle="modal" data-bs-target="#article-{{article.id}}" class="list-group-item list-group-item-action " style="display:block;min-height:80px; border: none!important;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{article.title}}</h5>
                {% if article.date_created %}
                <small>Last update: {{article.date_created}}</small>
                {% endif %}
            </div>
            {% if article.author %}
            <p class="mb-1 textlinelimit">{{article.author}}</p>
            {% endif %}
             {% if article.conference %}
            <p class="mb-1 textlinelimit">{{article.conference}}</p>
            {% endif %}
             {% if article.total_citations %}
            <p class="mb-1 textlinelimit">{{article.description}}</p>
            <small>{{article.total_citations}} citations</small>
            {% endif %}
        </a>
        <div class="modal fade" id="article-{{article.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLabel">title</h5> -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3" style="padding-left:20px;">
                            <h5 style="">
                                <a href="{{article.url}}" style="text-decoration:none; color:orangered" target="_blank">{{article.title}}</a>
                            </h5>
                        </div>
                        <div>
                            <div class="">
                                {% if article.author %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Author
                                    </div>
                                    <div class="col-8">
                                        {{article.author}}
                                    </div>
                                </div>
                                {% endif %} {% if article.publication_date %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Publication date
                                    </div>
                                    <div class="col-8">
                                        {{article.publication_date}}
                                    </div>
                                </div>
                                {% endif %} {% if article.journal %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Journal
                                    </div>
                                    <div class="col-8">
                                        {{article.journal}}
                                    </div>
                                </div>
                                {% endif %} {% if article.book %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Book
                                    </div>
                                    <div class="col-8">
                                        {{article.book}}
                                    </div>
                                </div>
                                {% endif %} {% if article.conference %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Conference
                                    </div>
                                    <div class="col-8">
                                        {{article.conference}}
                                    </div>
                                </div>
                                {% endif %} {% if article.volume %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Volume
                                    </div>
                                    <div class="col-8">
                                        {{article.volume}}
                                    </div>
                                </div>
                                {% endif %} {% if article.page %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Page
                                    </div>
                                    <div class="col-8">
                                        {{article.page}}
                                    </div>
                                </div>
                                {% endif %} {% if article.publisher %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Publisher
                                    </div>
                                    <div class="col-8">
                                        {{article.publisher}}
                                    </div>
                                </div>
                                {% endif %} 
                                {% if article.description %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Description
                                    </div>
                                    <div class="col-8">
                                        {{article.description}}
                                    </div>
                                </div>
                                {% endif %} 
                                {% if article.total_citations %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Total Citations
                                    </div>
                                    <div class="col-8">
                                        {{article.total_citations}}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-2 text-end text-primary-orange">
                                        Scholar articles
                                    </div>
                                    <div class="col-8">
                                        <a href="{{article.url}}" style="text-decoration: none; color:orangered" target="_blank">{{article.title}}</a>
                                        <p style="margin: 0">{{article.author}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex w-100 justify-content-center mt-5 mb-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if articles.has_previous %}
            <li class="page-item"><a class="page-link"  href="?{% url_replace page=articles.previous_page_number %}" style="color:orangered">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link disabled" style="color:orangered">&laquo;</a></li>
            {% endif %}
    
            {% if articles.number > 3 %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}" style="color:orangered"><i>1</i></a></li>
            {% endif %}
    
            {% for i in articles.paginator.page_range %}
                {% if i > articles.number|add:"-2" %}
                    {% if i < articles.number|add:"2" %}
                        {% if articles.number == i %}
                            <li class="page-item active" aria-current="page"><a class="page-link active" style="background-color: orangered; border-color:orangered">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=i %}" style="color:orangered">{{ i }}</a></li>
                        {% endif %} 
                    {% endif %}
                {% endif %}
            {% endfor %}
    
            {% if articles.number < articles.paginator.num_pages|add:"-2" %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=articles.paginator.num_pages %}" style="color:orangered"><i>{{ articles.paginator.num_pages }}</i></a></li>
            {% endif %}
    
            {% if articles.has_next %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=articles.next_page_number %}" style="color:orangered">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a  class="page-link disabled" style="color:orangered">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    </div>
    {% else%}
    <div class="d-flex w-100 justify-content-center mt-5 mb-5">
        <div class="mt-5 mb-5">
            <h3 class="display-6 mt-5 mb-5">Not found</h3>
        </div>
    </div>
    <div class="" style="margin-bottom: 300px;"> </div>
    {% endif %}
</div>
{% endblock body %}